extends layout

block content
  #page-wrapper
    .container 
      .row.mt-20
        h1 Encontre carreteiros para sua carga

      .row.mt-40
        .radius-table.p-0.box-search
          .row
            .col-xs-9.change-content
              // Fase 1
              .fase-1
                .bg-default.p-10.f-16.title-section Dados da Busca:
                .p-30.row.question-section
                  .col-xs-12.col-sm-6
                    label.control-label Origem
                    input.form-control.mb-15#origemInput(type="text", tabindex="1")

                  .col-xs-12.col-sm-6
                    label.control-label Destino
                    input.form-control.mb-15#destinoInput(type="text", tabindex="2")

                  .col-xs-12.col-sm-6
                    label.control-label Veículo desejado
                    select.form-control.mb-15#veiculoInput(tabindex="3")
                      option Truck
                      option Toco
                      option Carreta
                      option Rodotrem
                      option Bitrem
                      option Bi-Truck
                      option Bitrenzão
                      option Toco 3/4
                      option VUC / HR
                      option Van
                      option Outros

                  .col-xs-12.col-sm-6
                    label.control-label Carroceria
                    select.form-control.mb-15#carroceriaInput(tabindex="4")
                      option Todos
                      option Baú
                      option Aberto
                      option Graneleiro
                      option Frigorifico
                      option Sider
                      option Basculante
                      option Munck
                      option Prancha
                      option Plataforma
                      option Container
                      option Porta Container
                      option Cegonha
                      option Outros

                  .col-xs-12.col-sm-6
                    label.control-label Valor frete
                    .input-group.mb-15
                      span.input-group-addon R$
                      input.form-control#freteInput(type="text", tabindex="5")
                      span.input-group-addon ,00

                  .col-xs-12.col-sm-6
                    label.control-label Peso bruto
                    .input-group.mb-15
                      input.form-control#pesoInput(type="text", tabindex="6")
                      span.input-group-addon kg

                  //.col-xs-12
                  //  label.control-label Frete a combinar

                  .col-xs-12.col-sm-6.mt-15
                    button.btn.btn-success.btn-lg.btn-block#searchDrivers(type="button", tabindex="7") Buscar carreteiros
                      span.glyphicon.glyphicon-chevron-right.pull-right

              // Fase 2
              .fase-2
                .bg-success.p-10.f-16.title-section Resultado:
                .p-20.pt-0.row.result-section
                  .col-xs-3.data-selected
                    .block
                      .title Origem
                      span.label.label-default#labelOrigem
                    .block
                      .title Destino
                      span.label.label-default#labelDestino
                    .block
                      .title Veículo desejado
                      span.label.label-default#labelVeiculo
                    .block
                      .title Carroceria
                      span.label.label-default#labelCarroceria
                    .block
                      .title Valor frete
                      span.label.label-default#labelFrete
                    .block
                      .title Peso bruto
                      span.label.label-default#labelPeso
                    .block.mt-30
                      button.btn.btn-primary.btn-block.text-center#editData(type="button") Editar dados
                        span.glyphicon.glyphicon-chevron-left.pull-left

                  .col-xs-9.data-result
                    span.title Resultados
                    .radius-table
                      table.table.table-users
                        thead
                          tr
                            th Motorista
                            th Tipo
                        tbody
                          tr
                            td Flávio Augusto Dias
                            td Bi-trem - Graneleiro
                          tr
                            td Adriano Vasconcellos Baatoa
                            td Bi-trem - Basculante
                          tr
                            td Alex Torres
                            td Bi-trem - Aberto
                          tr
                            td Flávio Augusto Dias
                            td Bi-trem - Graneleiro
                          tr
                            td Adriano Vasconcellos Baatoa
                            td Bi-trem - Basculante
                          tr
                            td Alex Torres
                            td Bi-trem - Aberto
                          tr
                            td Flávio Augusto Dias
                            td Bi-trem - Graneleiro
                          tr
                            td Adriano Vasconcellos Baatoa
                            td Bi-trem - Basculante
                          tr
                            td Alex Torres
                            td Bi-trem - Aberto

            .col-xs-3.p-0.map-section.change-map
              .box-driver-detail
                .media.p-15
                  .btn.btn-default.pull-right.voltar-lista Voltar
                  .pull-left
                    img.media-object.img-circle(src="assets/img/avatar.jpg", alt="Foto aqui")
                  .media-body.f-15
                    h4.mb-0 Alex Torres
                    | Bi-trem - Aberto
                    br
                    | email@dominio.com

                .infos-driver.p-15
                  .radius-table
                    table.table.table-users
                      thead
                        tr
                          th(colspan="2") Dados pessoais
                      tbody
                        tr
                          td.title Nascimento
                          td 22/08/1976
                        tr
                          td.title Nome da mãe
                          td Marcia Torres
                        tr
                          td.title Nome do pai
                          td José Torres
                        tr
                          td.title Estado civil
                          td Casado
                        tr
                          td.title Endereço
                          td Rua Nacional, 1000

                  .radius-table
                    table.table.table-users
                      tbody
                        tr
                          td.title Destinos escolhidos
                          td S, SE, CO, NE, N
                        tr
                          td.title Disponível para cargas?
                          td Sim

                  .radius-table
                    table.table.table-users
                      thead
                        tr
                          th(colspan="2") Documentos
                      tbody
                        tr
                          td.title CPF
                          td 123.456.789-10
                        tr
                          td.title RG
                          td 12.345.678-9
                        tr
                          td.title CNH
                          td 12345678910
                        tr
                          td.title Primeira habilitação?
                          td Não
                        tr
                          td.title INSS
                          td Não


              .box-map
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31680309.96416628!2d-53.18050175!3d-14.240073199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9c59c7ebcc28cf%3A0x295a1506f2293e63!2sRep%C3%BAblica+Federativa+do+Brasil!5e0!3m2!1spt-BR!2sbr!4v1411146378286', width='100%', height='400', frameborder='0', style='border: 0;')
