doctype html
html
  head
    title= title

    // Geral CSS 
    link(href='assets/css/geral.min.css', rel='stylesheet')

    // Bootstrap Core CSS 
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')

    // Custom CSS 
    link(href='assets/css/drivers.css', rel='stylesheet')

    // Custom Fonts 
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,300', rel='stylesheet', type='text/css')

    // Jquery
    script(src='assets/js/jquery-1.11.0.js')

    // Drivers JS
    script(src='assets/js/drivers.js')


  body
    block content