body {
  background-color: #f3f6f8;
  font-family: 'Open Sans', sans-serif;
}

#page-wrapper {
  color:#494949;
  padding: 15px;
  font-family: 'Open Sans', sans-serif !important;
}

.arrow-panel{
  background: url(../img/border-panel.png);
  margin-left: -19px;
  margin-top:-3px;
  position: absolute;
  width: 26px;
  height: 25px;
}

.f-15{
  font-size: 15px!important;
}
.f-16{
  font-size: 16px!important;
}
.f-20{
  font-size: 20px!important;
}
.f-36{
  font-size: 36px!important;
}
.f-l{
  font-weight: 300;
}
.f-sb{
  font-weight: 600;
}
.mt--42{
  margin-top: -42px;
}
.pull-right>.dropdown-menu{
  min-width: 250px;
}
.pull-right>.dropdown-menu li a{
  color: #428bca;
  padding: 3px 10px;
}
.pull-right>.dropdown-menu li a i{
  color: #aaa;
}
.input_switch{
  width: 60px;
  margin-right:10px;
  float:left;
}
.btn{
  font-size: 15px!
}
.bt-anexar{
  padding: 0 8px;
}
.b-n{
  border:none;
}
.m-0a{
  margin: 0 auto;
}
.ebebeb{
  background: #ebebeb;
  border-color: #afafaf;
}
.b-eee{
  border-bottom: 3px solid #eee;
}
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs li{
  margin-bottom: -13px;
}
.nav-tabs li:first-child {
  margin-left: -15px;
}
.nav-tabs li a{
  font-size: 18px;
  font-weight: 400;
  color: #606060;
  padding-top:0;
  padding-bottom: 20px;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  color: #606060;
  cursor: default;
  border-bottom: 3px solid #5DB75D;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding-top:0;
  padding-bottom: 20px;
}
.nav-tabs>li>a:hover, 
.nav-tabs>li>a:focus {
  text-decoration: none;
  background:none;
}
.nav-tabs>li>a {
  border:none;
}
.nav-tabs>li.active .close-abas{
  margin-top: -64px;
}
.close-abas{
  margin-top: -61px;
}

.tags{
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #909090;
  border-radius: 4px;
  color: #606060;
  background-color: #d5d5d5;
  display: inline-block;
}
.tags-dismissable .close, 
.tags-dismissible .close {
  position: relative;
  top: -8px;
  right: -4px;
  color: inherit;
}

.table-striped th, 
.table-striped td  {
  border: none !important;
}
.table-striped tbody {
  border: 1px solid #ddd !important;
  border-radius: 10px;
}
.table-striped thead th,
.table-striped tbody td{
  font-weight: 300;
  font-size: 15px;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #fff;
}
.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td {
  padding: 13px;
}

input[type=checkbox] {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  -webkit-appearance:button;
  border: 1px solid #ccc;
  color: #fff;
  background: #fff;
  white-space: nowrap;
  overflow: hidden;  
  width: 16px;
  height:16px!important;
  cursor: pointer;
  outline: none;
}
input[type=checkbox]:checked {
  background: url(../img/checkbox.png) bottom no-repeat;
}

.campo_obrigatorio{
  border-top-left-radius: 3px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 5px;
  margin-bottom: -15px;
  margin-right: -15px;
  width: 180px;
}
.icone-check{
  border-right: 1px solid #ddd;
  padding: 2px 15px 0 10px;
  margin: 0 0 0 5px;
}
.icone-check{
  background: url(../img/checkbox.png) no-repeat;
  display:inline-block;
  width: 16px;
  height: 14px;
}
.lista-opcoes li{
  background: #fff;
  margin-bottom: 1px;
  list-style: none;
  padding: 3px;
  width: 100%;
  min-width: 90px;
  min-height: 20px;
  font-size: 13px;
  font-weight: normal;
}
.verde{
  color: #5DB75D;
  font-size: 14px;
}


/* LISTA */

.radius-table {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif !important;
  padding: 3px 0;
}
@media(max-width: 768px) {
  .radius-table {
    overflow-x: scroll;
  }
}
.table {
  margin-bottom: 0 !important;
}
.table tr {
  background: #ffffff;
}
.table-users tr:nth-child(even) {
  background: #f7f7f8;
}
.table tr th {
  border-bottom: 1px solid #e3e3e3 !important;
  border-top: 0px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
.table tr td {
  border: none !important;
  vertical-align: middle;
}
.table-questions tr td {
  padding: 3px !important;
  padding-left: 13px !important;
}
.table tr td .b {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}
.radius-table-detail {
  padding-bottom: 0px !important;
}
.table-detail tr td {
  border-bottom: 1px solid #e3e3e3 !important;
}
.table-detail tr:last-child td {
  border-bottom: none !important;
}
.table-detail tr th {
  border: none !important;
  border-bottom: 1px solid #e3e3e3 !important;
}
.box-search {
  font-family: 'Open Sans', sans-serif !important;
  min-height: 411px;
}
.box-search .bg-default {
  background: #fcfcfd;
  border-right: 1px solid #e3e3e3;
  border-top-left-radius: 4px;
  color: #6c6c6c;
}
.box-search .title-section {
  border-bottom: 1px solid #e3e3e3;
}
.box-search .question-section label {
  font-size: 16px;
  font-weight: normal !important;
}
.box-search .map-section {
  margin-left: -15px;
}
.box-map {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.question-section .form-control {
  height: 40px;
}
.change-content, .change-map {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.fase-1 {
  border-right: 1px solid #e3e3e3;
  display: block;
}
.fase-2 {
  border-right: 1px solid #e3e3e3;
  display: none;
}
.box-map {
  display: block;
}
.box-driver-detail {
  display: none;
}
.box-driver-detail .media {
  border-bottom: 1px solid #e3e3e3;
}
.box-driver-detail .media .voltar-lista {
  position: relative;
  top: 0;
}
.box-driver-detail .media .media-body h4 {
  font-size: 24px;
  font-weight: 600;
}
.box-driver-detail .radius-table {
  margin-bottom: 15px;
}
.infos-driver {
  height: 302px;
  overflow-y: scroll;
  padding-bottom: 0 !important;
}
.result-section {
  padding-top: 0 !important;
}
.result-section .data-selected {
  padding-top: 15px;
}
.result-section .data-selected .block {
  margin-bottom: 10px;
}
.result-section .data-selected .block .title  {
  font-size: 11px;
  text-transform: uppercase;
}
.result-section .data-selected .block .label  {
  white-space: normal !important;
}
.result-section .data-result {
  border-left: 1px solid #e3e3e3;
  margin-bottom: -20px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.result-section .data-result .radius-table {
  cursor: pointer;
  height: 322px;
  overflow-y: scroll;
}
.result-section .data-result .title {
  font-size: 11px;
  text-transform: uppercase;
}

